.authorized-form__header-button {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #ffffff;
  background-color: transparent;
  border: none;
  padding: 0;
  width: 56px;
  height: 22px;
  opacity: 1;
  transition: opacity 0.5s;
  cursor: pointer;
}

.authorized-form__header-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 600px) {
  
}