.authorized-form__header-button {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  text-align: right;
  color: #ffffff;
  width: 56px;
  height: 22px;
  opacity: 1;
  transition: opacity 0.5s;
  text-decoration: none;
}

.authorized-form__header-button:hover {
  opacity: 0.8;
}
