.cards {
  margin: 51px auto 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  row-gap: 20px;
  column-gap: 17px;
}

@media screen and (max-width: 879px) {
  .cards {
    margin-left: calc((100% - 282px*2 - 17px)/2);
    margin-right: calc((100% - 282px*2 - 17px)/2);
  }
}

@media screen and (max-width: 580px) {
  .cards {
    margin: 36px calc((100% - 282px)/2) 0;
  }
}