.unauthorized-form__submit-button {
  margin: 216px auto 0;
  width: 358px;
  height: 50px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  border: none;
  padding: 0;
  opacity: 1;
  transition: opacity 0.5s;
  cursor: pointer;
}

.unauthorized-form__submit-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 600px) {
  .unauthorized-form__submit-button {
    margin: 173px auto 0;
    width: 260px;
    height: 46px;
    font-size: 16px;
    line-height: 19px;
  }
}